header .navbar{
	padding: 5px;
	z-index: -1;
}
.mb-40{
  margin-bottom: 40px;
}
.background-header .navbar {
    padding: 5px;
}
.navbar .navbar-nav .nav-item {
    margin: 0px 1px;
    width: auto;
}
.owl-carousel .owl-item img {
    height: 180px;
}
.table {
    text-align: center;
}
input[type=checkbox]
{
    width: 50%;
    height: 1.5em;
}
#hd_container{
	width: 100%;
}
/* Dropdown Button */
/* Navbar container */
.navbar11 {
  overflow: hidden;
  background-color: #333;
  margin-bottom: 5px;
}

.navbar11 a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
  padding-right: 3%;
}

.dropdowni {
  float: left;
  overflow: hidden;
  padding-right: 2%;
}

.dropdowni .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar11 a:hover, .dropdowni:hover .dropbtn {
  background-color: red;
}

.dropdowni-contenti {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdowni-contenti a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdowni-contenti a:hover {
  background-color: #ddd;
}

.dropdowni:hover .dropdowni-contenti{
  display: block;
}
.dropdowni:hover header{
  z-index: -1
}
/* end dropdown ACC */
.owl-banner {
    padding-top: 150px;
}
.header-attend{
  text-align: center;
  padding-bottom: 25px;
}
.sl_at{
    
    padding: 6px 7px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #8fb5b0;
    border-radius: 13.25rem;
    box-shadow: inset 0 0 0 transparent;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
 #ac_year{
   margin-bottom: 7px;
    border-radius: 9px;
  }
#preview{
  max-height: 200px;
  min-height: 100px;
  min-width: 100px; 
  width: 20%; 
  margin-bottom: 15px; 
  border-radius: 25%;
}
.thongtin{
    font-weight: bold;
    border: none;
    text-align-last: end;
    max-width: 170px;
    padding: 0;
    font-weight: bold; 
    border: none; 
    text-align-last: end;
}
.thongtinten{
  font-weight: bold; 
  text-align: center;
  color: #63a3ff; 
  text-transform: uppercase; 
  border: none;
}
#c_image{
  border-radius: 50%;
  border: solid 2px #1586ff;
  margin-left: 70px; 
  margin-top: 70px;
  visibility: hidden;
}
.form-control:disabled {
    background-color: #ffffff00;
  }
  .bsbig_fig figcaption {
    font-family: 'Philosopher', sans-serif;
    font-weight: bold;
    line-height: normal;
    word-spacing: -3px;
  }
  a{
    font-family: 'Philosopher', sans-serif;
  }
  .spost_nav .media-body > a{
    font-family: 'Philosopher', sans-serif;
  }
.table-bordered>thead>tr>th{
      text-align: center;
}
span{
 font-family: 'Signika', sans-serif;
}
.affix {
     top:1px;
    position: fixed;
    width: auto;
  z-index:777;
  float: right;
  }
  .header_bottom {
    padding: 1px 30px 10px;
    height: 75px;
    }
    .top_nav li a{
      padding-top: 7px;
      padding-bottom: 4px;  
    }
    body {
        font-family: 'Philosopher', sans-serif;
        font-size: 18px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
        text-align: justify;
      }
    
    .single_page > h1 {
    color: #333;
    font-family: 'Philosopher';
    font-size: 30px;
    line-height: 38px;
    margin: 10px 0 -10px;
    padding: 0 0 4px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    position: relative;
   }
   .single-blog-post {
  position: relative;
  z-index: 1;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 5px; }
  .single-blog-post .post-thumbnail {
    position: relative;
    z-index: 1; }
    .single-blog-post .post-thumbnail img {
      width: 100%;
      height: 155px;
      object-fit: cover;
    }

    .single-blog-post .post-thumbnail .post-cta {
      position: absolute;
      top: 15px;
      left: 30px;
      z-index: 10; }
      .single-blog-post .post-thumbnail .post-cta a {
        padding: 0 10px;
        display: inline-block;
        height: 20px;
        background-color: #ffffff;
        text-transform: uppercase;
        font-size: 10px;
        color: #0000ff;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.75px; }
        .single-blog-post .post-thumbnail .post-cta a:hover, .single-blog-post .post-thumbnail .post-cta a:focus {
          background-color: #0000ff;
          color: #ffffff; }
    .single-blog-post .post-thumbnail .video-btn {
      width: 36px;
      height: 36px;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 5;
      background-color: #ffffff;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      text-align: center; }
      .single-blog-post .post-thumbnail .video-btn i {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        line-height: 36px; }
      .single-blog-post .post-thumbnail .video-btn:hover i, .single-blog-post .post-thumbnail .video-btn:focus i {
        color: #0000ff; }
  .single-blog-post .post-content {
    padding: 20px 30px; }
    .single-blog-post .post-content .headline h5 {
      font-size: 18px;
      margin-bottom: 10px; }
    .single-blog-post .post-content p {
      margin-bottom: 20px; }
    .single-blog-post .post-content .post-meta p {
      margin-bottom: 0;
      font-size: 12px; }
      .single-blog-post .post-content .post-meta p a {
        font-size: 12px; }
  .single-blog-post.post-style-2 {
    margin-bottom: 5px;
    height: 85px; }
    .single-blog-post.post-style-2 .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 97px;
      flex: 0 0 97px;
      margin-right: 15px;
      height: 100%; }
      .single-blog-post.post-style-2 .singpost{
        padding: 0;
    margin: 0;
    height: 100%;
      }
      .single-blog-post.post-style-2 .post-thumbnail img{
        height: inherit;
    object-fit: cover;
      }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-blog-post.post-style-2 .post-thumbnail {
          margin-right: 5px; } }
    .single-blog-post.post-style-2 .post-content {
      padding: 5px 30px 5px 5px;
      height: 100%; }
      .single-blog-post.post-style-2 .post-content .headline h5 {
        font-size: 14px;
        margin-bottom: 10px; }
        @media only screen and (min-width: 992px) and (max-width: 1199px) {
          .single-blog-post.post-style-2 .post-content .headline h5 {
            font-size: 13px; } }
        @media only screen and (max-width: 767px) {
          .single-blog-post.post-style-2 .post-content .headline h5 {
            font-size: 13px; } }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-blog-post.post-style-2 .post-content {
          padding: 5px; } }
    .single-blog-post.post-style-2:last-of-type {
      margin-bottom: 0; }
    .single-blog-post.post-style-2.widget-post .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
      flex: 0 0 70px;
      min-width: 70px;
      margin-right: 15px; }
  .single-blog-post.post-style-3 .post-thumbnail {
    position: relative;
    z-index: 1;
    height: auto; }
    .single-blog-post.post-style-3 .post-thumbnail::after {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: auto;
      content: '';
      position: absolute; }
  .single-blog-post.post-style-3 .post-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 0;
    position: absolute;
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    z-index: 2; }
    .single-blog-post.post-style-3 .post-content .post-tag a {
      padding: 0 10px;
      display: inline-block;
      height: 20px;
      background-color: #ffffff;
      text-transform: uppercase;
      font-size: 10px;
      color: #0000ff;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.75px; }
      .single-blog-post.post-style-3 .post-content .post-tag a:hover, .single-blog-post.post-style-3 .post-content .post-tag a:focus {
        background-color: #0000ff;
        color: #ffffff; }
    .single-blog-post.post-style-3 .post-content .headline h5 {
      font-size: 18px;
      color: #ffffff; }
  .single-blog-post.post-style-4 {
    margin-bottom: 5px; }
    @media only screen and (max-width: 767px) {
      .single-blog-post.post-style-4 {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .single-blog-post.post-style-4 {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
    .single-blog-post.post-style-4 .post-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
      flex: 0 0 168px;
      min-width: 160px;
      margin-right: 20px;
      flex-shrink: 0; }
       .single-blog-post.post-style-4 .post-thumbnail img{
        width: 100%;
        height: 150px;
        object-fit: cover
        object-position: top;
       }
      @media only screen and (max-width: 767px) {
        .single-blog-post.post-style-4 .post-thumbnail {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
          flex: 0 0 100%;
          min-width: 100%; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .single-blog-post.post-style-4 .post-thumbnail {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 250px;
          flex: 0 0 250px;
          min-width: 250px; } }
    .single-blog-post.post-style-4 .post-content {
      padding: 5px 30px 5px 5px;
      display: flex;
      flex-direction: column; }
      .single-blog-post.post-style-4 .post-content .headline h5 {
        font-size: 18px;
        margin-bottom: 10px; }
      @media only screen and (max-width: 767px) {
        .single-blog-post.post-style-4 .post-content {
          padding: 30px; } }
      @media only screen and (min-width: 576px) and (max-width: 767px) {
        .single-blog-post.post-style-4 .post-content {
          padding: 5px; } }
    .single-blog-post.post-style-4:last-of-type {
      margin-bottom: 0; }
      .d-flex{
        display: flex;
      }
      .single-blog-post.post-style-4 .post-content .post-meta {
    margin-top: auto;
}
.media-left, .media-right, .thongbao {
    display: revert;
    vertical-align: top;
    
   }
   .cap{
    color: #55a0ff;
    font-size: 20px;
    font-stretch: condensed;
    font-weight: bold;
    
   }
   .cont{
    font-size: 14px;
    font-style: italic;
    color: black;
   }
   .new{
    width: 37px;
    height: 100%;
    color: red;
    padding-bottom: 5px;
    display: inline;
   }
   .slick-prev, .slick-next {
   border-radius: 50%;
}
.navArea .navbar-inverse{
  border-top: 2px solid #55a0ff; 
  border-radius: 10px;
}
.navArea .navbar-toggle{
  color: #ffffffc4; 
  border-color: white;
}
 .mobile {
      display: inline !important;
      width: 66% !important;

  }
  /* when screen is less than 600px wide
     show mobile version and hide desktop */
  @media only screen and (max-width: 1000px) {
    .mobile {
      display: none !important; 
    }
    .logo{
      text-align: center;
    }
  }